.carousel {
  padding: 20 10 20 10;
  margin-bottom: 25px;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  will-change: transform;
  transition: transform 0.1s linear;
}

.group > * {
  scroll-snap-align: start;
  flex: 0 0 auto;
}
