.commentbox {
  margin-top: 20px;
  border-width: 2px;
  border-radius: 10px;
  width: 1000px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.user {
  font-size: 25px;
  font-weight: bold;
  padding: 20 20 20 20;
}

.text {
  padding-left: 20px;
  margin-bottom: 20px;
}

.date {
  padding-left: 20px;
  padding-bottom: 20px;
}
